{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Accueil
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="assets/css/questions.css"/>
{% endblock %}


{% block body %}
	<h1>Liste des questions</h1>


	<div style="overflow-x:auto;">
		<table id="questionsTable"></table>
	</div>

{% endblock %}

{% block bottom_js %}
	<script type="text/javascript" src="assets/js/questions.js"></script>
{% endblock %}
