{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Accueil
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="assets/css/questions.css"/>
{% endblock %}


{% block body %}

	<div class="container">


		<h1>Liste des questions</h1>

		<button id='addQuestion'>Ajouter une question</button>

		<div class="tablediv">
			<table id="questionsTable"></table>
		</div>


	</div>
	<!-- The Modal -->
	<div
		id="myModal" class="modal">

		<!-- Modal content -->
		<div id="modalContent" class="modal-content"></div>

	</div>

	<div id="snackbar"></div>

{% endblock %}

{% block bottom_js %} 

	<script type="text/javascript" src="assets/js/questions.js"></script>


{% endblock %}
