{% extends 'layout.html.twig' %}

{% block title %}
	game
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/lobby.css"/>
	<link rel="stylesheet" href="/assets/css/board.css"/>
{% endblock %}


{% block body %}
	<div style="display:none;" id="fast">{{ session.user.username }}</div>


	<div class="container">
		<h2>Party :
			<span id="partyId">
				{{ id }}</span>
		</h2>
		<div id="lobby">

			<div>
				En attente des joueurs :
				<span id="currentNumberPlayer"></span>
				/
				<span id="numberPlayer"></span>
			</div>

			<img id="qrcode">

		</img>

		<button id='lauchGame'>Lancer la partie</button>

	</div>

	<div class="container">

		<div id="boardStatus">
			<div id="info"></div>
			<div id="question"></div>
			<div id="possibleAnswer"></div>
			<div id="answerForPlayer"></div>
			<div id="master">
				<button id='showAnswer'>Afficher la réponse</button>
				<div id="answer"></div>
				<di>
					<button id='good'>Réponse juste</button>
					<button id='bad'>Réponse fausse</button>
				</div>
			</div>
			<div id="difficulty">
				<p class="title">
					<span id="pseudo"></span>
					c'est à vous !</p>
				<p>
					Choisissez votre niveau
				</p>
				<div>
					<button id='1'>1</button>
					<button id='2'>2</button>
					<button id='3'>3</button>
					<button id='4'>4</button>
					<button id='5'>5</button>
					<button id='6'>6</button>
				</div>
			</div>
		</div>
		<div id="board"></div>
		<div id="scoreboardDesktopParent">
			<div id="scoreboardDesktop"></div>
		</div>
	</div>

	<a href="#open-modal" class="floatButton">
		<p class="my-float">Score</p>
	</a>

	<div id="open-modal" class="modal-window">
		<div>
			<a href="#" title="Close" class="modal-close">Close</a>
			<h2>Score !</h2>
			<div id="scoreboard"></div>
		</div>
	</div>

	<script></script>
{% endblock %}
{% block bottom_js %}
	<script type="text/javascript" src="/assets/js/game.js"></script>
{% endblock %}
