{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Accueil
{% endblock %}


{% block body %}

	<div class="container"> 
		<div id="zonemessage"></div>

		<label for="msg">MSG</label>
		<input type="text" id="msg" name="lastname">

		<button  onclick="send()">ENVOYER</button>

	</div>


	<script>

        /* ZONE DE TEST NE PAS OUBLIER DE LANCER Le serveur de websocket pour que ça marche */
		let zonemessage = document.getElementById('zonemessage');
        var conn = new WebSocket('ws://localhost:8080');

        conn.onopen = function (e) {
        console.log("Connection established!");
        };
        conn.onmessage = function (e) { 
        zonemessage.append(e.data);
        
        };

        function send() {
        msg = document.getElementById("msg").value;

        zonemessage.append(msg);
         
        conn.send(msg);
        }
	</script>
    

{% endblock %}
