{% extends 'layout.html.twig' %}

{% block title %} Erreur {% endblock %}

{% block body %}
<h1>Bonjour il semblerait qu'il y ait eu une erreur</h1>

<p>{{error}}<p>

{% endblock %}

{% block bottom_js %}
       
{% endblock %}