{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Accueil
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/basicpage.css"/>
{% endblock %}

{% block body %}

	<div class="container">
		<button>Jouer !</button>
	</div>
{% endblock %}

{% block bottom_js %}{% endblock %}
