{% extends 'layout.html.twig' %}

{% block title %}
	Erreur
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/basicpage.css"/>
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Bonjour {{test}} </h1>
		<p></p>
	</div>

{% endblock %}

{% block bottom_js %}{% endblock %}
