{% extends 'layout.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/assets/css/inscription.css"/>
{% endblock %}


{% block body %}

	<div class="basicForm">
		<form action="checkUser" method="post">

			<div>
				<label for="email">Email / Username :
				</label>
				<input type="text" name="email" id="email" required>
			</div>

			<div>
				<label for="password">Mot de passe :
				</label>
				<input type="password" name="password" id="password" required>
			</div>

			<div class="button">
				<input type="submit" value="S'identifier">
			</div>

		</form>

		<p>{{error}}</p>
	</div>

{% endblock %}

{% block bottom_js %}{% endblock %}
