{% extends 'layout.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="assets/css/inscription.css"/>
{% endblock %}


{% block body %}

	<div class="basicForm">
		<form onsubmit="return false">


			<div>
				<label for="username">pseudo :
				</label>
				<input type="text" name="username" id="username" minlength="1" maxlength="50" required>
				<p class="helperText"> </p>
			</div>

			<div>
				<label for="lastname">Nom de famille :
				</label>
				<input type="text" name="lastname" id="lastname" pattern="[a-zA-Z]+" title="Uniquement des lettre" required>
				<p class="helperText"> </p>
			</div>

			<div>
				<label for="firstname">Prénom :
				</label>
				<input type="text" name="firstname" id="firstname" pattern="[a-zA-Z]+" title="Uniquement des lettre" required>
				<p class="helperText"> </p>
			</div>

			<div>
				<label for="email">Email :
				</label>
				<input type="email" name="email" id="email" required>
				<p class="helperText"> </p>
			</div>

			<div>
				<label for="password">Mot de passe :
				</label>
				<input type="password" name="password" id="password" required>
				<p class="helperText"> </p>
			</div>

			<div>
				<label for="passwordBis">Vérification mot de passe :
				</label>
				<input type="password" name="passwordBis" id="passwordBis" required>
				<p class="helperText">
					Veuillez saisir le même mot de passe</p>
			</div>

			<div class="button">
				<input id="register" type="submit" value="S'inscrire">
			</div>

		</form>
	</div>


{% endblock %}

{% block bottom_js %}
	<script type="text/javascript" src="assets/js/inscription.js"></script>
{% endblock %}

